# Database Variables
DB_USER=postgres
DB_PASSWORD=secretpassword
DB_NAME=contest_engine
DB_PORT=5432
DATABASE_URL=your-deployed-postgres-connection-string

# Backend Variables
BACKEND_PORT=8080
CORS_ALLOWED_ORIGINS=https://contest-rating-system-beige.vercel.app

# Frontend Variables
FRONTEND_PORT=3000
NEXT_PUBLIC_API_URL=https://contest-rating-system-o84v.onrender.com
